{% extends 'index.html' %}

{% block content %}
<!-- Main content -->
<div class="container text-white">
    <div class="centered-form" style="background-color: transparent;">
        <div class="p-8 shadow-md rounded-lg max-w-md w-full">
            <h3 class="mb-5">Edit Details for <br>{{user.first_name}} {{user.last_name}}</h3>
            <!-- Edit user form -->
            <form method="post" action="/edit_user/{{ user.id }}" style="background-color: transparent;">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" value="{{ user.email }}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{ user.password }}">
                </div>
                <div class="mb-3">
                    <label for="user_name" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" value="{{ user.user_name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="role">Permissions</label>
                    <select class="form-select" id="role" name="role">
                        <option value="read_write" {% if user.role == 'read_write' %} selected {% endif %}>Read/Write</option>
                        <option value="read_only" {% if user.role == 'read_only' %} selected {% endif %}>Read Only</option>
                        <option value="admin" {% if user.role == 'admin' %} selected {% endif %}>Admin</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Edit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
