{% extends 'index.html' %}


{% block content %}
<div class="p-4 mt-5">
    <h2 class="text-center">Equipment for Project: {{ project.project_name }}</h2>
    <div class="table-responsive">
        <table class="table table-striped" id="equipment_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <!-- Add component headers dynamically -->
                    {% for component in components %}
                        <th>{{ component.name }}</th>
                    {% endfor %}
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipment_data %}
                    <tr>
                        <td>{{ equipment.name }}</td>
                        <td>{{ equipment.number }}</td>
                        <!-- Display components for each equipment -->
                        {% for component in components %}
                        <td>
                            {% for method in component.methods %}
                            <form action="{{ url_for('update_method_status', component_id=component.id, method_id=method.id) }}" method="POST" style="background-color: inherit;" class="text-center">
                                <label>{{ method.name }}</label>
                                <select name="status" onchange="this.form.submit()">
                                    <option value="Pending" {% if method.status == 'Pending' %}selected{% endif %}>Pending</option>
                                    <option value="In Progress" {% if method.status == 'In Progress' %}selected{% endif %}>In Progress</option>
                                    <option value="Completed" {% if method.status == 'Completed' %}selected{% endif %}>Completed</option>
                                </select>
                            </form>
                            {% endfor %}
                        </td>
                        {% endfor %}
                        <td>
                            <a href="/edit_equipment/{{ project.id }}/{{ equipment.id }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/upload_equipment/{{ project.id }}" class="btn btn-primary">Add Equipment</a>
</div>
{% endblock %}
