{% extends 'index.html' %}

{% block content %}
<!-- Main content -->
<div class="container mt-5">
    <div class="container col-6">
        <h1 class="text-center">{{equipment[0].number}} - {{equipment[0].name}}</h1>
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">
                <div class="mb-3">
                    <label for="type" class="form-label">Type</label>
                    <select class="form-select" id="type" name="type">
                        <option value="Select">Select a Type</option>
                        <option value="Exchanger" {% if equipment[0].type == 'Exchanger' %} selected {% endif %}>Exchanger</option>
                        <option value="Tower" {% if equipment[0].type == 'Tower' %} selected {% endif %}>Tower</option>
                        <option value="Drum" {% if equipment[0].type == 'Drum' %} selected {% endif %}>Drum</option>
                        <option value="Heater" {% if equipment[0].type == 'Heater' %} selected {% endif %}>Heater</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ equipment[0].name }}">
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Number</label>
                    <input type="text" class="form-control" id="last_name" name="number" value="{{ equipment[0].number }}">
                </div>
                <div class="mb-3">
                    <label for="scope" class="form-label">Scope</label>
                    <textarea class="form-control" id="scope" name="scope" rows="5">{{ equipment[0].scope }}</textarea>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" id="equipment_table">
                        <thead>
                            <tr>
                                {% for component in components %}
                                    <th>{{ component.name }}</th>
                                {% endfor %}
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    {% for component in components %}
                                        <td>
                                            {% for method in component.methods %}
                                                <form action="{{ url_for('update_method_status', component_id=component.id, method_id=method.id) }}" method="POST" style="background-color: inherit;" class="text-center">
                                                    <label>{{ method.name }}</label>
                                                    <select name="status" onchange="this.form.submit()">
                                                        <option value="Pending" {% if method.status == 'Pending' %}selected{% endif %}>Pending</option>
                                                        <option value="In Progress" {% if method.status == 'In Progress' %}selected{% endif %}>In Progress</option>
                                                        <option value="Completed" {% if method.status == 'Completed' %}selected{% endif %}>Completed</option>
                                                    </select>
                                                </form>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                    <td>
                                        <a href="/edit_equipment/{{ project.id }}/{{ equipment.id }}" class="btn btn-primary">Edit</a>
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
                
        </div>
    </div>
</div>
{% endblock %}




