{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Upload Components from Excel File</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="/upload_components/{{project_id}}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label">Choose Excel File:</label>
                    <input type="file" id="file" name="file" accept=".xlsx, .xls" class="form-control">
                </div>
                <input type="hidden" name="equipment_id" value="{{ equipment_id }}">
                <input type="hidden" name="project_id" value="{{ project_id }}">
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
