
<div id="loadingScreen" class="loading-screen" style="display:none;">
    <div class="spinner"></div>
</div>
<div class="table-responsive">
    {% for equipment in equipment_data %}
    <table class="table table-striped rounded-2 mb-0" id="equipment_table">
        <p class="bg-white mt-2 mb-0 fw-bold p-2">Scope: <br> {{equipment.scope}}</p>
        <thead>
            <tr>
                <th>Equipment</th>
                {% for component_name in all_component_names %}
                    <th>{{ component_name }}</th>
                {% endfor %}
            
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="fw-bold">{{equipment.number}}</span><br> {{ equipment.name }}</td>
                
                {% for component_name in all_component_names %}
                    <td>
                        {% if component_name in components_by_equipment[equipment.id] %}
                            {% set component = components_by_equipment[equipment.id][component_name] %}
                            <div id="component-{{ component.id }}" class="component-methods">
                                {% for method in component.methods %}
                                    <span class="badge 
                                        {% if method.status in ['Complete', 'Rejected', 'Deferred'] %}
                                            badge-success
                                        {% elif method.status == 'Repair Required' %}
                                            badge-danger
                                        {% elif method.status == 'In Progress' %}
                                            badge-warning
                                        {% else %}
                                            badge-secondary
                                        {% endif %}
                                        text-black d-flex">
                                        <a href="#" class="text-black d-flex" data-bs-toggle="modal" data-bs-target="#methodModal" data-method-id="{{ method.id }}" data-component-id="{{ component.id }}" data-method-status="{{ method.status }}" data-equipment-id="{{ equipment.id }}">
                                            {{ method.method_type }}{% if method.updated_by %} - {{ method.updated_by }}{% endif %}
                                            {% if method.updated_at != method.created_at %}
                                                {{ method.updated_at.strftime('%m/%d/%y') }}
                                            {% endif %}
                                        </a>
                                    </span>
                                    {% if method.repairs %}
                                        <div class="repair-details">
                                            {% set displayed_repairs = [] %}
                                            {% for repair in method.repairs %}
                                                {% if repair.repair_number not in displayed_repairs %}
                                                    <a href="#" class="badge text-black {% if repair.repair_status in ['Complete', 'Rejected', 'Deferred'] %}badge-success{% else %}badge-danger{% endif %}" data-bs-toggle="modal" data-bs-target="#repairModal" data-repair-id="{{ repair.id }}" data-component-id="{{ component.id }}" data-equipment-id="{{ equipment.id }}">{{ repair.repair_number }}</a>
                                                    {% set displayed_repairs = displayed_repairs + [repair.repair_number] %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="/add_single_equipment/{{ project.id }}" class="btn btn-primary">Add Equipment</a>
<a href="/export_data/{{ project.id }}" class="btn btn-secondary">Export Data to Excel</a>

<!-- Method Modal -->
<div class="modal fade" id="methodModal" tabindex="-1" aria-labelledby="methodModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="methodModalLabel">Update Method Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="methodStatusForm" method="POST" action="{{ url_for('update_component_method_status') }}" enctype="multipart/form-data">
                    <input type="hidden" id="componentId" name="component_id">
                    <input type="hidden" id="methodId" name="method_id">
                    <input type="hidden" id="equipmentId" name="equipment_id">
                    <input type="hidden" id="currentTab" name="currentTab" value="{{ current_tab }}">
                
                    <div class="mb-3">
                        <label for="methodStatus" class="form-label">Status</label>
                        <select class="form-select" id="methodStatus" name="status">
                            <option value="In Progress">In Progress</option>
                            <option value="Complete">Complete</option>
                            <option value="Repair Required">Repair Required</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="updatedBy" class="form-label" required>Updated By</label>
                        <select class="form-select" id="updatedBy" name="updated_by">
                            {% for user in users %}
                            {% if user.id == current_user %}
                                <option value="{{ user.first_name[0] }}{{ user.last_name[0] }}" selected>{{ user.first_name }} {{ user.last_name }}</option>
                            {% else %}
                                <option value="{{ user.first_name[0] }}{{ user.last_name[0] }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="updatedAt" class="form-label">Updated At</label>
                        <input type="date" class="form-control" id="updatedAt" name="updated_at"  value="{{ current_date }}">
                    </div>
                
                    <div id="currentRepairFields" style="display: none;">
                        <div class="mb-3">
                            <label for="currentRepairNumber" class="form-label">Current Repair Number</label>
                            <input type="text" class="form-control" id="currentRepairNumber" name="current_repair_number" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="currentDescription" class="form-label">Current Repair Description</label>
                            <textarea class="form-control" id="currentDescription" name="current_description" rows="3" readonly></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="currentFile" class="form-label">Current Repair Document</label>
                            <a id="currentFileLink" href="#" target="_blank">View Document</a>
                        </div>
                    </div>
                
                    <div id="repairFields" style="display: none;">
                        <div class="mb-3">
                            <label for="newRepairNumber" class="form-label">New Repair Number</label>
                            <input type="text" class="form-control" id="newRepairNumber" name="new_repair_number">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">New Repair Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="file" class="form-label">Upload New Repair Document</label>
                            <input class="form-control" type="file" id="file" name="file">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Status</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Repair Modal -->
<div class="modal fade" id="repairModal" tabindex="-1" aria-labelledby="repairModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="repairModalLabel">Repair Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="repairDetailsContainer"></div>
            </div>
        </div>
    </div>
</div>

